h1{
    text-align: center;
    font-size: 50px;
}
body{
    background-image: url(Háttér.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#logo{
    height: 153px;
    width: 153px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#banan1{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 175px;
    left: 80px;
}
#banan2{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 175px;
    left: 430px;
}
#banan100{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 175px;
    left: 790px;
}
#banan1000{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 175px;
    left: 1150px;
}
#olcsobanan{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 175px;
    left: 1500px;
}
#banan1p{
    position: absolute;
    top: 500px;
    left: 200px;
}
#banan2p{
    position: absolute;
    top: 500px;
    left: 550px;
}
#banan100p{
    position: absolute;
    top: 500px;
    left: 900px;
}
#banan1000p{
    position: absolute;
    top: 500px;
    left: 1250px;
}
#olcsobananp{
    position: absolute;
    top: 500px;
    left: 1600px;
}